.container {
    width: 100%;
    height: 100vh;
}

.d-flex {
    display: flex;
}

.leftpane {
    margin: 0;
    padding: 0;
    width: 15%;
    background:  url("../img/temp menu bar.jpg");
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    left: 0%;
    overflow: auto;
    background-size: cover;
}

.rightpane{
    margin: 0;
    padding: 0;
    width: 15%;
    background:  url("../img/temp menu bar.jpg");
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    right: 0%;
    overflow: auto;
    background-size: cover;
}
  
/* Main content */
.middlepane {
    width: 70%;
    position: inherit;
    overflow: hidden;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 1%;
    padding-bottom: 1%;
}

section.self-photo{
    background:  url("../img/temp michelle photo.jpg");
    background-repeat: no-repeat;
    position: inherit;
    overflow: hidden;
    width: auto;
    padding: 30%;
    background-size: 45%;
    background-position: center center;
    padding-bottom: 0;
}

body {
    margin: 0;
  }

footer{
    padding-top: 10%;
}

section.left-link, section.right-link{
    margin-top: 100%;
    margin-left: 5%;
    font-family: sans-serif;
    font-size: 120%;
}

p.left-link, p.right-link{
    padding-bottom: -4%;
}

a.left-link:link, a.right-link:link{
    color: goldenrod;
}

a.left-link:visited, a.right-link:visited{
    color: rgb(25, 214, 151);
}

a.left-link:hover, a.right-link:hover{
    color: rgb(133, 207, 250);
}

a.left-link:active, a.right-link:active{
    color:rgb(61, 241, 61);
}