/* The navigation bar */
/* .navbar {
    overflow: hidden;
    background-color: #df7e7e;
    position: fixed; 
    top: 0; 
    width: 100%; 
}

.left-links{
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #0dd84a;
    position: fixed;
    height: 100%;
    overflow: auto;
} */

.left-bar {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #2ab5f9;
    position: fixed;
    top: 0%;
    height: 100%;
    overflow: auto; 
}

.right-bar{
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #2ab5f9;
    position: fixed;
    height: 100%;
    top: 0%;
    right: 0%;
    overflow: auto;
}
  
/* Main content */
.main {
margin-top: 30px; 
}