{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <!-- Navigation-->
    <div class="container">
        <div class="d-flex">
            <div class="leftpane">
                <p><a href="#home">Home</a></p>
                <p><a href="#home">Home</a></p>
                <p><a href="#home">Home</a></p>
            </div>

            <div class="middlepane">
                {% block content %}
                {% endblock %}

                <!-- Footer-->
                <footer class="py-5"> 
                    <hr>
                    <div class="page_bottom">©2024 - Michelle Pickerel</div>
                </footer>

            </div>

            <div class="rightpane">
                <p><a href="#home">Home</a></p>
                <p><a href="#home">Home</a></p>
                <p><a href="#home">Home</a></p>
            </div>
        </div>
    </div>

    
</body>
</html>