{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <!-- Navigation-->
    <div class="container">
        <div class="d-flex">
            <div class="leftpane">
                <p class="left-link-topics">My Profile</p>
                <section class="left-link">
                    <p class="left-link"><a class="left-link" href="#home">About Me</a></p>
                    <p class="left-link"><a class="left-link" href="#home">Professional Experience</a></p>
                    <p class="left-link"><a class="left-link" href="#home">Education</a></p>
                    <p class="left-link"><a class="left-link" href="#home">Skills</a></p>
                    <p class="left-link"><a class="left-link" href="#home">Hobbies</a></p>
                </section>
            </div>

            <div class="middlepane">
                {% block content %}
                {% endblock %}

                <!-- Footer-->
                <footer class="py-5"> 
                    <hr>©2024 - Michelle Pickerel
                </footer>

            </div>

            <div class="rightpane">
                <p class="right-link-topics">My Projects</p>
                <section class="right-link">
                    <p class="left-link"><a class="left-link" href="#home">Number Guessing Game</a></p>
                    <p class="left-link"><a class="left-link" href="#home">Student Enrollment</a></p>
                    <p class="left-link"><a class="left-link" href="#home">POS</a></p>                    
                    <p class="left-link"><a class="left-link" href="#home">CRM</a></p>
                    <p class="left-link"><a class="left-link" href="#home">Vendor Management</a></p>
                    <p class="left-link"><a class="left-link" href="#home">Task Tracker</a></p>
                </section>
            </div>
        </div>
    </div>

    
</body>
</html>